<div class="form-container mat-elevation-z2" *ngIf="!showSpiner; else spinerBlock">
    <h1 class="text-center">Registration</h1>
    <mat-stepper labelPosition="bottom" #stepper style="margin-top: 2rem;">
        <mat-step [stepControl]="basicInfoForm">
            <form [formGroup]="basicInfoForm" class="stepper-container">
                <ng-template matStepLabel>Personal data</ng-template>
                <div style="text-align:center;margin-top:5rem;">
                    <app-basic-info-registration></app-basic-info-registration>
                    <div>
                        <button style="float: right; margin-top: 1rem;" class="next-button" mat-raised-button
                            matStepperNext [disabled]="basicInfoForm.invalid">Next</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="addressForm">
            <form [formGroup]="addressForm" class="stepper-container">
                <ng-template matStepLabel>Address data</ng-template>
                <app-address-registration></app-address-registration>
                <div>
                    <button style="float: right; margin-top: 1rem;" class="next-button" mat-raised-button matStepperNext
                        [disabled]="basicInfoForm.invalid">Next</button>
                </div>
                <div>
                    <button style="float: right; margin-right: 1rem; margin-top: 1rem;" class="back-button" mat-raised-button
                        matStepperPrevious>Back</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="accountTypeForm">
            <form [formGroup]="accountTypeForm" class="stepper-container">
                <ng-template matStepLabel>Account type</ng-template>
                <app-account-type-registration></app-account-type-registration>
                <div>
                    <button style="float: right; margin-top: 1rem;" class="next-button" mat-raised-button matStepperNext
                        [disabled]="accountTypeForm.invalid">Next</button>
                </div>
                <div>
                    <button style="float: right; margin-right: 1rem; margin-top: 1rem;" class="back-button" mat-raised-button
                        matStepperPrevious>Back</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="employmentForm">
            <form [formGroup]="employmentForm" class="stepper-container">
                <ng-template matStepLabel>Employment data</ng-template>
                <app-employment-registration [isRetiree]="basicInfoForm.get('roleFormControl').value === 'RETIREE'"></app-employment-registration>
            </form>
            <div>
                <button style="float: right; margin-top: 1rem;" class="next-button" mat-raised-button matStepperNext
                    [disabled]="employmentForm.invalid">Next</button>
            </div>
            <div>
                <button style="float: right; margin-right: 1rem; margin-top: 1rem;" class="back-button" mat-raised-button
                    matStepperPrevious>Back</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>End</ng-template>
            <p>Review application and confirm</p>
            <div style="display: flex">
                <button style="margin-left:40.7rem" class="previous-button" mat-raised-button
                    matStepperPrevious>Back</button>
                <button style="margin-left:1rem" class="next-button" mat-raised-button
                   >Confirm</button>
            </div>
        </mat-step>
    </mat-stepper>

</div>
<ng-template #spinerBlock>
    <div class="form-container mat-elevation-z2 spiner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
