<mat-toolbar color="accent" class="mat-elevation-z3">
    <a [routerLink]="['']" routerLinkActive="active">
      <img
        src="./assets/images/bank.png"
        alt="Bank"
        class="app-icon" />
    </a>
  <div class="spacer">
    <div *ngIf="loggedUser && !isAdmin">
      &nbsp;&nbsp;
    <a [routerLink]="['/banking-system/user/home']" routerLinkActive="active" mat-button color="primary">Home</a>
    <span class="requests-menu-button" mat-button [matMenuTriggerFor]="requestsMenu">
      Requests
    </span>

  </div>

  </div>
    <a
      *ngIf="!loggedUser"
      [routerLink]="['/banking-system/auth/login']"
      routerLinkActive="active"
      mat-button color="primary"
      id="login"
      >Log in</a>
    <a *ngIf="!loggedUser" [routerLink]="['/banking-system/auth/register']" routerLinkActive="active" mat-raised-button
      class="a-sign-up">Sign up</a>
    

    <div *ngIf="loggedUser" class="temp">
       <button mat-raised-button (click)="logOut()">Log out</button>
    </div>
  
    <mat-menu class="requests-menu" #requestsMenu="matMenu">
      <button mat-menu-item (click)="redirectToCashCreditRequestsPage()">
        <span>Cash credit requests</span>
      </button>
      <button mat-menu-item (click)="redirectToCardRequestsPage()">
        <span>Card requests</span>
      </button>
      <button mat-menu-item (click)="redirectToOverdraftRequestsPage()">
        <span>Overdraft requests</span>
      </button>
    </mat-menu>
  </mat-toolbar>